@charset "utf-8";
header {
    width:200px;
    height:200px;
    animation: fluffy1 4s ease infinite;
   }
   @keyframes fluffy1 {
     0% {
       transform: translateY(0); }
     5% {
       transform: translateY(0); }
     10% {
       transform: translateY(0); }
     20% {
       transform: translateY(-5px); }
     25% {
       transform: translateY(0); }
     30% {
       transform: translateY(-5px); }
     50% {
       transform: translateY(0); }
     100% {
       transform: translateY(0); } }

body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
    background-image:url(../images/background.png)
 }

 .side {
   background-color:hwb(44 59% 0%);
   width:200px;
   height:900px;
   /* text-align:center; */
 }

 .side li {
    margin-bottom: 30px;
 }

 .side p {
    text-align:center;
    margin-bottom: 40px;
 }

.ul {
    list-style: url(../images/tamago.png);
    list-style-position: inside;
}

 .content {
   background-color:#ffffffff;
   width:850px;
   height:900px;
   margin-left:40px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
   text-align:center;
   overflow-wrap: break-word;
 }

 .btn_a {
	width: 60px;
	height: 38px;
	background: #FFF;
	border: 1px solid #ffc400;
	border-radius: 70px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	color: #ffc400;
	padding: 42px 20px 20px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
}
.btn_a:hover {
	background: #ffc400;
	color: #FFF;
	border: 1px solid #FFF;
}

 article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
 }

 footer {
  text-align:center;
 }

