@charset "utf-8";
header {
    width:200px;
    height:200px;
    animation: fluffy1 4s ease infinite;
   }
   @keyframes fluffy1 {
     0% {
       transform: translateY(0); }
     5% {
       transform: translateY(0); }
     10% {
       transform: translateY(0); }
     20% {
       transform: translateY(-5px); }
     25% {
       transform: translateY(0); }
     30% {
       transform: translateY(-5px); }
     50% {
       transform: translateY(0); }
     100% {
       transform: translateY(0); } }

body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
    background-image:url(../images/background.png)
 }

 .side {
   background-color:hsl(44, 100%, 77%);
   width:200px;
   height:900px;
   /* text-align:center; */
 }

 .side li {
    margin-bottom: 30px;
 }

 .side p {
    text-align:center;
    margin-bottom: 40px;
 }
.ul{
    list-style: url(../images/tamago.png);
    list-style-position: inside;
}
 .content {
   background-color:#ffffffff;
   width:850px;
   height:900px;
   text-align:center;
   margin-left:40px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
 }

 article {
   display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
 }
